.nav {
  display: flex;
  align-items: center;
  padding: 20px;
  font-size: 1.5rem;
  gap: 0.5rem;
  justify-content: space-between;
  background-color: #ddd;
}

.showcaseText {
  text-align: center;
  font-size: 1.2rem;
}

.loginButton {
  text-decoration-line: none;
}
